// global color tokens

// Gray neutral
$-clr-white: hsl(0 0% 100%);
$-clr-gray-10: hsl(0 0% 95%);
$-clr-gray-20: hsl(0 0% 82.5%);
$-clr-gray-30: hsl(0 0% 70%);
$-clr-gray-40: hsl(0 0% 60%);
$-clr-gray-50: hsl(0 0% 50%);
$-clr-gray-60: hsl(0 0% 40%);
$-clr-gray-70: hsl(0 0% 30%);
$-clr-gray-80: hsl(0 0% 17.5%);
$-clr-gray-90: hsl(0 0% 7.5%);
$-clr-black: hsl(0 0% 0%);

// Orange accent
$-clr-orange-10: hsl(25, 100%, 95%);
$-clr-orange-20: hsl(25, 96%, 90%);
$-clr-orange-30: hsl(25, 97%, 86%);
$-clr-orange-40: hsl(25, 98%, 81%);
$-clr-orange-50: hsl(25, 98%, 76%);
$-clr-orange-60: hsl(25, 97%, 72%);
$-clr-orange-70: hsl(25, 98%, 67%);
$-clr-orange-80: hsl(25, 98%, 62%);
$-clr-orange-90: hsl(25, 98%, 58%);
$-clr-orange-100: hsl(25, 98%, 53%);

// Yellow warning
$-clr-yellow-20: hsl(47, 74%, 93%);
$-clr-yellow-40: hsl(47, 71%, 85%);
$-clr-yellow-60: hsl(47, 72%, 78%);
$-clr-yellow-80: hsl(47, 71%, 70%);
$-clr-yellow-100: hsl(47, 72%, 63%);

// Green success
$-clr-green-20: hsl(170, 42%, 87%);
$-clr-green-40: hsl(170, 44%, 74%);
$-clr-green-60: hsl(170, 43%, 61%);
$-clr-green-80: hsl(170, 47%, 48%);
$-clr-green-100: hsl(170, 78%, 36%);

// Blue primary
$-clr-blue-10: hsl(204, 45%, 94%);
$-clr-blue-20: hsl(201, 42%, 87%);
$-clr-blue-30: hsl(202, 42%, 81%);
$-clr-blue-40: hsl(201, 41%, 75%);
$-clr-blue-50: hsl(201, 40%, 69%);
$-clr-blue-60: hsl(201, 38%, 64%);
$-clr-blue-70: hsl(201, 37%, 59%);
$-clr-blue-80: hsl(201, 37%, 54%);
$-clr-blue-90: hsl(201, 37%, 49%);
$-clr-blue-100: hsl(201, 43%, 44%);

// Red error
$-clr-red-20: hsl(0, 100%, 94%);
$-clr-red-40: hsl(0, 100%, 89%);
$-clr-red-60: hsl(0, 100%, 83%);
$-clr-red-80: hsl(0, 100%, 78%);
$-clr-red-100: hsl(0, 100%, 72%);

$light: (
  "neutral": (
    "00": $-clr-white,
    "10": $-clr-gray-10,
    "20": $-clr-gray-20,
    "30": $-clr-gray-30,
    "40": $-clr-gray-40,
    "50": $-clr-gray-50,
    "60": $-clr-gray-60,
    "70": $-clr-gray-70,
    "80": $-clr-gray-80,
    "90": $-clr-gray-90,
    "100": $-clr-black,
  ),
  "accent": (
    "10": $-clr-orange-10,
    "20": $-clr-orange-20,
    "30": $-clr-orange-30,
    "40": $-clr-orange-40,
    "50": $-clr-orange-50,
    "60": $-clr-orange-60,
    "70": $-clr-orange-70,
    "80": $-clr-orange-80,
    "90": $-clr-orange-90,
    "100": $-clr-orange-100,
  ),
  "primary": (
    "10": $-clr-blue-10,
    "20": $-clr-blue-20,
    "30": $-clr-blue-30,
    "40": $-clr-blue-40,
    "50": $-clr-blue-50,
    "60": $-clr-blue-60,
    "70": $-clr-blue-70,
    "80": $-clr-blue-80,
    "90": $-clr-blue-90,
    "100": $-clr-blue-100,
  ),
  "success": (
    "20": $-clr-green-20,
    "40": $-clr-green-40,
    "60": $-clr-green-60,
    "80": $-clr-green-80,
    "100": $-clr-green-100,
  ),
  "warning": (
    "20": $-clr-yellow-20,
    "40": $-clr-yellow-40,
    "60": $-clr-yellow-60,
    "80": $-clr-yellow-80,
    "100": $-clr-yellow-100,
  ),
  "error": (
    "20": $-clr-red-20,
    "40": $-clr-red-40,
    "60": $-clr-red-60,
    "80": $-clr-red-80,
    "100": $-clr-red-100,
  ),
);

$dark: (
  "neutral": (
    "100": $-clr-white,
    "90": $-clr-gray-10,
    "80": $-clr-gray-20,
    "70": $-clr-gray-30,
    "60": $-clr-gray-40,
    "50": $-clr-gray-50,
    "40": $-clr-gray-60,
    "30": $-clr-gray-70,
    "20": $-clr-gray-80,
    "10": $-clr-gray-90,
    "00": $-clr-black,
  ),
  "accent": (
    "100": $-clr-orange-100,
    "90": $-clr-orange-90,
    "80": $-clr-orange-80,
    "70": $-clr-orange-70,
    "60": $-clr-orange-60,
    "50": $-clr-orange-50,
    "40": $-clr-orange-40,
    "30": $-clr-orange-30,
    "20": $-clr-orange-20,
    "10": $-clr-orange-10,
  ),
  "primary": (
    "100": $-clr-blue-100,
    "90": $-clr-blue-90,
    "80": $-clr-blue-80,
    "70": $-clr-blue-70,
    "60": $-clr-blue-60,
    "50": $-clr-blue-50,
    "40": $-clr-blue-40,
    "30": $-clr-blue-30,
    "20": $-clr-blue-20,
    "10": $-clr-blue-10,
  ),
);

// contextual color tokens
$color-neutral-00: var(--neutral-00);
$color-neutral-10: var(--neutral-10);
$color-neutral-20: var(--neutral-20);
$color-neutral-30: var(--neutral-30);
$color-neutral-40: var(--neutral-40);
$color-neutral-50: var(--neutral-50);
$color-neutral-60: var(--neutral-60);
$color-neutral-70: var(--neutral-70);
$color-neutral-80: var(--neutral-80);
$color-neutral-90: var(--neutral-90);
$color-neutral-100: var(--neutral-100);

$color-primary-10: var(--primary-10);
$color-primary-20: var(--primary-20);
$color-primary-30: var(--primary-30);
$color-primary-40: var(--primary-40);
$color-primary-50: var(--primary-50);
$color-primary-60: var(--primary-60);
$color-primary-70: var(--primary-70);
$color-primary-80: var(--primary-80);
$color-primary-90: var(--primary-90);
$color-primary-100: var(--primary-100);

$color-accent-10: var(--accent-10);
$color-accent-20: var(--accent-20);
$color-accent-30: var(--accent-30);
$color-accent-40: var(--accent-40);
$color-accent-50: var(--accent-50);
$color-accent-60: var(--accent-60);
$color-accent-70: var(--accent-70);
$color-accent-80: var(--accent-80);
$color-accent-90: var(--accent-90);
$color-accent-100: var(--accent-100);
