---
import type { GetStaticPaths } from "astro";
import Layout from "../../layouts/Page.astro";

import { products } from "../products";

export async function getStaticPaths() {
  return products.map((product) => {
    return {
      params: { id: product.id },
      props: { product },
    };
  });
}

const { id } = Astro.params;
const { product } = Astro.props;

interface Product {
  id: string;
  title: string;
  description: string;
  price: number;
  images: string[];
}

export interface Props {
  product: Product;
}
---

<Layout title="This is a title">
  <section class="section">
    <div class="container">
      <img src={product.images[0]} alt="">
    </div>
  </section>
</Layout>
