---
import Layout from "../../layouts/Page.astro";

const artwork = './artList.json'
const art = 
---

<Layout title="This is a title">
  <section class="section">
    <div class="container"></div>
  </section>
  <section class="section">

  </section>
</Layout>
