---
import Layout from "../layouts/Page.astro";
import { artList } from "./artwork/artList";
---

<Layout title="List of artworks">
  <div class="container">
    <h1>This is a test</h1>
  </div>
</Layout>
