---
import ArtMasonGrid from "../components/ArtMasonGrid.astro"
import Layout from "../layouts/Page.astro";
---

<Layout title="List of artworks">
  <section class="section">
    <div class="container">
      
      <ArtMasonGrid />
    </div>
  </section>
</Layout>