---
import ArtMasonGrid from "../components/ArtMasonGrid.astro";
import Layout from "../layouts/Page.astro";
import ProductMasonGrid from "../components/ProductMasonGrid.astro";
---

<Layout title="List of artworks">
  <section class="section">
    <div class="container flow">
      <h1 class="heading-1">Gallery</h1>
      <ProductMasonGrid />
    </div>
  </section>
</Layout>
