---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Locations">
  <main class="container | flow">
    <h1 class="heading-1">Locations</h1>
    <p >Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi ex delectus, facere voluptates quasi odit minus? Obcaecati, et blanditiis. Amet dolore quia quibusdam illo, aliquid <a href="www.google.com">deleniti</a> voluptatem, accusamus fuga obcaecati temporibus libero veniam beatae rem sunt exercitationem repellendus. Laboriosam similique, nihil aperiam unde vitae odit. In ullam rem velit repudiandae error debitis. Eligendi repudiandae perferendis sunt dolores a accusamus. Magnam aliquid quis odit assumenda quaerat saepe laboriosam consectetur asperiores voluptates ab fugit labore, blanditiis doloribus quae eos! Odio, totam! Rem, voluptate fugit. Maiores dolor commodi aspernatur minima, cumque suscipit quasi expedita perspiciatis molestiae veritatis illum, repudiandae consequatur! Quidem, deserunt optio.</p>
  </main>
</Layout>

<style>
</style>
