---
import Layout from "../layouts/Page.astro";
---

<Layout title="Locations">
  <section class="section bg-primary-20">
    <div class="container">
      <h1 class="heading-1">Heading 1</h1>
      <h2 class="heading-2">Heading 2</h2>
      <h3 class="heading-3">Heading 3</h3>
      <p class="subtitle-1">Subtitle 1</p>
      <p class="subtitle-2">Subtitle 2</p>
      <p class="subtitle-3">Subtitle 3</p>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi ex
        delectus, facere voluptates quasi odit minus? Obcaecati, et blanditiis.
        Amet dolore quia quibusdam illo, aliquid <a href="www.google.com"
          >deleniti</a
        > voluptatem, accusamus fuga obcaecati temporibus libero veniam beatae
        rem sunt exercitationem repellendus. Laboriosam similique, nihil aperiam
        unde vitae odit. In ullam rem velit repudiandae error debitis. Eligendi
        repudiandae perferendis sunt dolores a accusamus. Magnam aliquid quis
        odit assumenda quaerat saepe laboriosam consectetur asperiores
        voluptates ab fugit labore, blanditiis doloribus quae eos! Odio, totam!
        Rem, voluptate fugit. Maiores dolor commodi aspernatur minima, cumque
        suscipit quasi expedita perspiciatis molestiae veritatis illum,
        repudiandae consequatur! Quidem, deserunt optio.
      </p>
    </div>
  </section>
</Layout>
