---
export interface Props {
  title: string;
  image: string;
  id: string;
}

const { title, image, id } = Astro.props;
---

<a href={`/artwork/${id}`}>
  <div class="item">
    <img src={image} />
    <p class="fs-700 fw-500">{title}</p>
  </div>
</a>

<style>
  a {
    color: unset;
  }

  .item {
    display: inline-block;
    margin-block: 1.5em;
    background: #fff;
    width: 100%;
    -webkit-transition: 1s ease all;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }
  .item img {
    max-width: 100%;
  }
</style>
