---
interface Product {
  id: string;
  title: string;
  price: number;
  images: string[];
  brand: string;
  description: string;
}

export interface Props {
  product: Product;
}

const { product } = Astro.props;
---

<a href={`/art/${product.id}`}>
  <div class="item">
    <img src={product.images[0]} />
    <p class="subtitle-3">{product.title}</p>
    <p class="subtitle-3 fs-400">€{product.price}</p>
  </div>
</a>

<style>
  a {
    color: unset;
  }

  .item {
    display: inline-block;
    margin-block: 1.5em;
    background: #fff;
    width: 100%;
    -webkit-transition: 1s ease all;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }
  .item img {
    max-width: 100%;
  }
</style>
