---
interface Product {
  id: string;
  title: string;
  price: number;
  images: string[];
  brand: string;
  description: string;
}

export interface Props {
  product: Product;
}

const { product } = Astro.props;
---

<div class="wrapper">
  {product.images.map((image) => <img src={image} alt="image" />)}
</div>

<style>
  .wrapper {
    display: grid;
    grid-auto-rows: 100px;
    width: 100px;
    gap: 16px;
    overflow-y: scroll;
  }

  img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }

  .image {
    background-color: red;
  }
</style>
