@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

.test {
  color: #fff5f2;
  color: #fff1ee;
  color: #ffe4de;
  color: #ffd5cc;
  color: #ffbcad;
  color: #fe795d;
  color: #ef562f;
  color: #eb4f27;
  color: #cc4522;
  color: #a5371b;
}
